#Font{
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: rgb(0, 0, 0)
}
#SmallFont{
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  text-decoration-color: white;
}
body{
background-color: rgb(240, 190, 200);
border: 30px solid rgb(183, 145, 153) ;
border-top: 0px;
text-decoration-color: white;
/*border-bottom: 0px;*/
margin: 0px;
}
.Email{
  font-size: 1.5em;
  margin-bottom: 10px;
  border-radius: 25px;
  border-color: #FF9F1C;
}
#Sub{
  border-radius: 25px;
  background: #FF9F1C;
  height: 80px;
  width: 150px;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
  margin-bottom: 4px;
}
