#navbar {
  overflow: hidden;
  background-color: #333;
}
.sticky{
  position: fixed;
  margin-left: : 0px;
  background-color: #333;
  border-radius: 10px;
}
td{
  background-color: black;
  height: 300px;
  width : 100px;
  border: 6px solid white;
  alin :center;
}
.center{
  margin: auto;
}
#one{
  background-color: #2b3a67;
}
#two{
  background-color: #496a81;
}
#three{
  background-color: #66999b;
}
#four{
  background-color: #b3af8f;
}
#five{
  background-color: #ffc482;
}
#six{
  background-color: #2b3a67;
}
#seven{
  background-color: #496a81;
}
#eight{
  background-color: #66999b;
}
#Font{
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: rgb(0, 0, 0)
}
#SmallFont{
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-decoration-color: white;
}
body{
background-color: rgb(240, 190, 200);
border: 30px solid rgb(183, 145, 153) ;
border-top: 0px;
text-decoration-color: white;
/*border-bottom: 0px;*/
margin: 0px;
}
.Email{
  font-size: 1.5em;
  margin-bottom: 10px;
  border-radius: 25px;
  border-color: #FF9F1C;
}
#Sub{
  border-radius: 25px;
  background: #FF9F1C;
  height: 80px;
  width: 150px;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
  margin-bottom: 4px;
}
.container{
  text-align: center;
}
